body {
	font-family: "Special Elite", monospace;
	background:url("newback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background - position: center;

}
p{
	font-size: 25px;

}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
